nav {
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav a:hover {
    background: #ddd;
    color: black;
}

.login-form {  
    background-color: rgb(96, 104, 104);
    display: inline-block;
    text-align: center;
    width:100%;   
}
.container {
   border: 4px solid black; 
}




