 .grid {
     display:grid;
     grid-gap: 5px;
     grid-template: 200px 200px 200px /
     175px 175px 175px;
     grid-auto-rows: 50px;
     grid-auto-columns:75px;
     column-gap: 25px;
     row-gap: 110px;
     justify-content: space-around;
     
      
 }
@media only screen and (max-width: 440px){
   #link {
       display:none;
   }

    }
    @media only screen and ( max-width: 960) {

    
    

    .grid {
        width: 285px;
        display:float;
    }
}
 .grid img {
     width:100%;
     height: 100%;
     border-radius: 8%;
 }
 .box {
     border: 5px solid red;
     border-radius: 12%;
    }

#link {
    background-color: white;
    border-radius: 33%;
    text-align: center;
    color: rgb(4, 56, 56);
    padding: 5px;
    
}

/*this is the begining of original code*/
#logo p {
    background-color: blue;
    border-radius: 25px;
    color: white; 
    text-align: center;
    font-weight: 1000;
    font-size: 50px;
    font-family:sans-serif;
    padding-bottom: 10px;
    
}
@media only screen and (max-width: 390px){
    #logo p {
        font-size: .85em;
        margin-top: 65px;
        
    }

    
}
#gif{
     
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      
}

#nav{
    color: peru;
    position:fixed;
    font-weight: bold;
}
li {
    color: white;
    font-size:25px;
}

#about{
    margin-left: 32%;
    margin-right: 32%;
}
p {
    font-weight: bold;
    font-family: sans;
    text-align:center;
    background-color: orangered;
    padding-left: 50px;
    padding-right:50px;
    border-radius: 25px;
}
h3 {
    color:white;
}
footer {
    background-color: rgb(186, 194, 194);
    padding-left: 6%;
    border-radius: 25px;
}
/* this is the end if the original code*/