 .grid {
     display:grid;
     grid-gap: 5px;
     grid-template: 200px 200px 200px /
     175px 175px 175px;
     grid-auto-rows: 50px;
     grid-auto-columns:75px;
     column-gap: 25px;
     row-gap: 110px;
     justify-content: space-around;      
 }

article {
background-color: rgb(36, 218, 12);
font-size: 18px;
line-height: 1.5;
font-weight: bold;
text-align: center;
margin-right:30%;
margin-left:30%;
border-radius:25px;
padding-right: 8px;
padding-left:8px;
}


    @media only screen and ( max-width: 560px) {

    .grid {
        width: 400px;
        display:flexbox;
        grid-template-columns: 1fr 1fr 1fr;
 }
}

 .grid img {
     width:100%;
     height: 100%;
     border-radius: 8%;
 }

 .box {
     border: 5px solid red;
     border-radius: 12%;
    }

#link {
    background-color: white;
    border-radius: 33%;
    text-align: center;
    color: rgb(4, 56, 56);
    padding: 5px;
    
}

#logo p {
    background-color: blue;
    border-radius: 25px;
    color: white; 
    text-align: center;
    font-weight: 1000;
    font-size: 50px;
    font-family:sans-serif;
    padding-bottom: 10px;
}

#gif{
     
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
}

nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background: #ddd;
    color: black;
}

#about{
    margin-left: 32%;
    margin-right: 32%;
    font-size:20px;
}

p {
    font-weight: 800;
    font-family: sans;
    text-align:center;
    background-color: orangered;
    padding-left: 50px;
    padding-right:50px;
    border-radius: 25px;
    line-height:1.75;
    color:white;  
}

@media only screen and (max-width: 450px){
    #logo p {
        font-size: .95rem;
        margin-top: 65px;    
}
    
p {
        padding-left:0;
        padding-right:0;
        margin-left: 5%;
        margin-right: 5%;
}

    #about p {
        margin-right:5%;
        margin-left:5%;
    }
    
     article {
        margin-left: 5%;
        margin-right: 5%;
    }
}

h3 {
    color:white;
}
.bottomnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  /* Style the links inside the navigation bar */
  .bottomnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .bottomnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .bottomnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .bottomnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  button {
      width: 185px;
      height:125px;
      margin-left: 42%;
      margin-top:15px;
      border: 4px solid red ;
      border-radius: 8px;
      font-size: 20px;
      font-weight: bold;
    
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .bottomnav a, .bottomnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .bottomnav input[type=text] {
      border: 1px solid #ccc;
    }
  }


footer {
    background-color: rgb(186, 194, 194);
    padding-left: 6%;
    border-radius: 25px;
}
/*tring to add functionality to a login form*/
.container {
    max-width: 450px;
    margin: 0 auto; }
  
  h3 {
    color: #C3FF00;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
  
  h4 {
    text-transform: uppercase; }
  
  .disabled h3 {
    color: #535353;
    cursor: not-allowed; }
  
  .button-active {
    color: #C3FF00;
    background-color: #535353; }
  
  nav {
    background-color: #303030;
    color: #EFEFEF; }
    nav .container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      nav .container object {
        width: 4.5em;
        padding: 1.2em 0.5em; }
      nav .container .login-button,
      nav .container .menu-button {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding: 1em 1.25em;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer; }
  
  .nav-menu {
    background-color: #535353;
    color: #EFEFEF;
    display: flex;
    justify-content: center; }
    .nav-menu .container {
      padding: 1.5em;
      display: flex; }
      .nav-menu .container ul {
        list-style: none; }
        .nav-menu .container ul li {
          padding: 0.25em 2em; }
          .nav-menu .container ul li:first-child {
            text-transform: uppercase;
            color: #C3FF00;
            letter-spacing: 0.05em; }
  
  .hide {
    display: none; }
  
  .login-form {
    background-color: #535353;
    padding: 1em 0 0;
    color: #EFEFEF;
    display: none; }
    .login-form .container {
      padding: 0 0.5em; }
    .login-form h4 {
      font-weight: 400; }
    .login-form input {
      width: calc(100% - 1em);
      border: none;
      height: 2em;
      margin: 0.5em 0;
      font-size: 1em;
      padding: 0 0.5em; }
    .login-form .sign-in-button {
      background-color: #303030;
      color: #C3FF00;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      text-align: center;
      width: 100%;
      height: 2.5em;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer; }
